@page
@model Tuannahe181942RazorPages.Pages.Staff.Categories.IndexModel
@{
    ViewData["Title"] = "Category Management";
}

<h1>Category Management</h1>

<p>
    <a href="@Url.Page("Index", new { handler = "CreatePartial" })"
       class="btn btn-primary btn-popup"
       data-title="Create New Category">
        Create New
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryList)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDesciption</td>
                <td>
                    <a href="@Url.Page("Index", new { handler = "EditPartial", id = item.CategoryId })"
                       class="btn btn-info btn-popup"
                       data-title="Edit Category">
                        Edit
                    </a>

                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.CategoryId" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this category?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}