@page
@model Tuannahe181942RazorPages.Pages.Admin.Accounts.IndexModel
@{
    ViewData["Title"] = "Account Management";
}

<h1>Account Management</h1>

<p>
    <a href="@Url.Page("Index", new { handler = "CreatePartial" })"
       class="btn btn-primary btn-popup"
       data-title="Create New Account">
        Create New
    </a>
</p>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @if (Model.AccountList != null)
        {
            @foreach (var item in Model.AccountList)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AccountEmail)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AccountRole)</td>
                    <td>
                        <a href="@Url.Page("Index", new { handler = "EditPartial", id = item.AccountId })"
                           class="btn btn-info btn-popup"
                           data-title="Edit Account">
                            Edit
                        </a> |

                        <form method="post" asp-page-handler="Delete" asp-route-id="@item.AccountId" style="display:inline;" onsubmit="return confirm('Are you sure?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}